.container {
    text-align: center;
}

table,
th,
tr td {
    border: 1px solid black;
}

th,
td {
    padding: 3px 20px;
}

th {
    background-color: cornflowerblue;
}

th:not(:first-child) {
    cursor: pointer;
}

table {
    margin: auto;
}

button {
    margin-bottom: 10px;
}

ol {
    text-align: left;
}
